<nav class="main-menu">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" (click)="clickToAction('add')">
        <a class="nav-link" [class.active]="getSelected('add')" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true"><fa name="fas fa-plus"></fa></a>
      </li>
      <li class="nav-item" (click)="clickToAction('search')">
        <a class="nav-link" [class.active]="getSelected('search')" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="true"><fa name="fas fa-search"></fa></a>
      </li>
    </ul>

  <div class="user">
      <div class="user-name">
        <span>Ana Guatura</span>
        <p>Logged In</p>
      </div>
      <div class="user-image">
        <img src="../assets/ana-clara.jpg" alt="">
      </div>
  </div>
</nav>

<div class="input-task">
    <div class="container-fluid">
        <div class="add-task">
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="showAddInput"class="input-group">
                        <input type="text" [(ngModel)]="task" class="form-control" placeholder="Add a task..." aria-label="Add a task..." aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="addTask(task)"><fa name="fas fa-plus"></fa></button>
                        </div>
                    </div>
                    <div *ngIf="!showAddInput" class="input-group">
                        <input type="text" [(ngModel)]="taskSearch" class="form-control" placeholder="Search a task..." aria-label="Search a task..." aria-describedby="basic-addon2" (keyup)="searchTask()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" ><fa name="fas fa-search"></fa></button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="list-of-tasks">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="itens" *ngFor="let task of tasks; let i = index" [class.active]="isActive(task)">
                  <label>
                      <input type="checkbox"
                              name="options"
                              value="{{task.desc}}"
                              [(ngModel)]="task.checked" 
                              (ngModelChange)="changed(task)">
                      {{task.desc}}
                  </label>
                  <span class="delete-task" (click)="deleteTask(i)" ><fa name="fas fa-times"></fa></span>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="footer">
  <span>You have: {{ totalItens }} total itens, {{ undoneItens }} undone and {{ doneItens }} done itens.</span>
</div>

